/* ==============navbar bg color============== */
$black:#191919;


// text color
$text-color:#F3F4F6;
$orange:#d87d4a;
$grey:#78716C;
$light-grey:#bdbab8;
$stone:#292524;
$light-blue:#f1f1f1;

// font


$font-size1:40px;
$font-size2:20px;
$font-size3: 60px